.hero {
  height: 90vh;
  background-image: url(../assets/hero.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-header,
.hero-paragraph,
.hero-button {
  position: relative;
  z-index: 2;
}
.hero-header {
  font-size: 5rem;
  color: var(--secondary-color);
}
.hero-paragraph {
  font-size: 2rem;
  color: var(--light-color);
  margin: 1rem 0 2rem;
}

.hero-button button {
  padding: 1rem 2rem;
  margin: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--accent-color);
  color: var(--light-color);
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.5s;
}
.hero-button button:hover {
  background-color: var(--secondary-color);
}

/* about section */

.about-us {
  height: 90vh;
}

.section-title {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: var(--secondary-color);
  position: relative;
  font-size: 5rem;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.about-logo {
  margin-left: 3rem;
  padding: 20rem;
  background-color: rgb(223, 224, 225);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.about-text {
  flex: 1;
}

.about-text h3 {
  font-size: 3rem;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.about-text p {
  margin-bottom: 15px;
  font-size: 2rem;
  color: var(--dark-color);
  line-height: 1.5;
}
.about-text a {
  font-size: 2rem;
}
