.header-navigation {
  display: flex;
  justify-content: flex-end;
  gap: 10rem;
  padding: 1rem 50rem;
  background-color: var(--background-color);
}

.header-navigation h1 {
  font-size: 3rem;
}
.header-contacts {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.header {
  display: block;
}
.header-contact {
  display: flex;
  gap: 1rem;
}
