:root {
  --primary-color: #0933ec;
  --secondary-color: #296160;
  --accent-color: #16a085;
  --light-color: #f8f9fa;
  --dark-color: #27292a;
  --text-color: #000000;
  --background-color: #8f9297;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  color: var(--text-color);
  font-family: "Lora", serif;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  text-decoration: none;
}
